.text-bold {
  font-weight: 700;
}

.text-light {
  font-weight: 300;
}

html {
  font-size: 62.5%;
  background-color: $white;
}

body {
  @media (max-width: $screen-xs-min) {
    font-size: 4vw;
    line-height: 4vw;
  }

  @media (min-width: $screen-xs) and (max-width: $screen-sm-min) {
    font-size: 2.5vw;
    line-height: 2.5vw;
  }

  @media (min-width: $screen-sm) and (max-width: $screen-md-min) {
    font-size: 2vw;
    line-height: 2vw;
  }

  @media (min-width: $screen-md) {
    font-size: 0.8vw;
    line-height: 1.5vw;
  }
}

.top-gap-sm {
  padding-top: 50px;
}

.top-gap {
  padding-top: 100px;
}

.login h1 a {
  background: url('../img/login-logo.png') no-repeat top center;
  display: block;
  height: 6.7rem;
  overflow: hidden;
  padding-bottom: 15px;
  text-indent: -9999px;
  width: 32.6rem;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-family: Oswald;
    text-transform: uppercase;
    font-weight: bold;
  position: relative;
  display: inline-block;
}

h1:before, .h1:before, h2:before, .h2:before, h3:before, .h3:before, h4:before, .h4:before {
  content: '';
  position: absolute;
  width: 33.3%;
  height: 1px;
  bottom: -10px;
  left: 33.3%;
  border-bottom: 3px solid $dark-orange;
}

.more {
  display: inline-block;
  padding: 5px 20px;
  text-transform: uppercase;
  border: 1px solid $black;
  margin: 30px 0;

  text-decoration: none;
  color: $black;
  font-weight: bold;

  @media (max-width: $screen-xs-min) {
    font-size: 3vw;
  }

  @media (min-width: $screen-xs) and (max-width: $screen-sm-min) {
    font-size: 3vw;
  }

  @media (min-width: $screen-sm) and (max-width: $screen-md-min) {
    font-size: 2vw;
  }

  @media (min-width: $screen-md) and (max-width: $screen-lg-min) {
    font-size: 2vw;
  }

  @media (min-width: $screen-lg) {
    font-size: 0.7vw;
  }

  &:hover {
    border: 1px solid $title-orange;
    background-color: $title-orange;
    color: $white;
    text-decoration: none;
  }
}

.title {
  font-family: Oswald;
  padding-top: 30px;
  padding-bottom: 30px;
  text-transform: uppercase;
  font-weight: bold;

  @media (max-width: $screen-xs-min) {
    font-size: 3.7vw;
  }

  @media (min-width: $screen-xs) and (max-width: $screen-sm-min) {
    font-size: 2.8vw;
  }

  @media (min-width: $screen-sm) and (max-width: $screen-md-min) {
    font-size: 2vw;
  }

  @media (min-width: $screen-md) {
    font-size: 1.5vw;
  }
}

.section-icon img {
  max-width: 40%;
  width: auto;
  height: auto;
}

.section-ipad img {
  max-width: 90%;
  width: auto;
  height: auto;
}

.main-content {
  position: relative;
  color: $white;
  box-sizing: border-box;

  .opaque {
    opacity: 0.6;
  }

  .main-title {
    font-family: Oswald;
    text-transform: uppercase;

    @media (max-width: $screen-xs-min) {
      font-size: 10vw;
      line-height: 10vw;
    }

    @media (min-width: $screen-xs) and (max-width: $screen-sm-min) {
      font-size: 9vw;
      line-height: 9vw;
    }

    @media (min-width: $screen-sm) and (max-width: $screen-md-min) {
      font-size: 8vw;
      line-height: 8vw;
    }

    @media (min-width: $screen-md) and (max-width: $screen-lg-min) {
      font-size: 6vw;
      line-height: 6vw;
    }

    @media (min-width: $screen-lg) {
      font-size: 4vw;
      line-height: 4vw;
    }

  }

  .main-txt {
    padding-top: 20px;
  }

  @media (max-width: $screen-sm-min) {

    .main-logo img {
      height: auto;
      width: 30vw;
    }
  }
}
