$white:             #ffffff;
$black:             #1c1c1b;
$light-orange:      #ffdba2;
$orange:            #f98f00;
$medium-orange:     #f29123;
$dark-orange:       #e95b28;
$sand:              #cbba9f;
$title-orange:      #e84f1d;
$lightergrey:       #6a6d72;
$grey:              #484f5d;
$darkgrey:          #3c424d;
$collapse:          #405261;

$blue:              #4e7a89;
$lightgrey:         #e8e8e8;
$redish:            #fa7232;

$green:             #00fddc;
$red:               #f98f00;


// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              479px !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              767px !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              991px !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              1199px !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;
