.home {

	.more {
		display: inline-block;
		padding: 10px 40px;
		text-transform: uppercase;
		border: 1px solid $black;
		margin: 30px 0;

		text-decoration: none;
		color: $black;
		font-weight: bold;

		@media (max-width: $screen-xs-min) {
			font-size: 3vw;
		}

		@media (min-width: $screen-xs) and (max-width: $screen-sm-min) {
			font-size: 3vw;
		}

		@media (min-width: $screen-sm) and (max-width: $screen-md-min) {
			font-size: 2vw;
		}

		@media (min-width: $screen-md) {
			font-size: 1.3vw;
		}

		&:hover {
			border: 1px solid $grey;
			background-color: $grey;
			color: $white;
		}
	}

	.main-content {
		color: $white;
		padding-top: 50px;
		padding-bottom: 89px;
		box-sizing: border-box;

		background: url('../img/background.png');
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;

		.main-title {
			font-family: Oswald;

			@media (max-width: $screen-xs-min) {
				font-size: 10vw;
				line-height: 10vw;
			}

			@media (min-width: $screen-xs) and (max-width: $screen-sm-min) {
				font-size: 9vw;
				line-height: 9vw;
			}

			@media (min-width: $screen-sm) and (max-width: $screen-md-min) {
				font-size: 8vw;
				line-height: 8vw;
			}

			@media (min-width: $screen-md) {
				font-size: 6vw;
				line-height: 6vw;
			}

		}

		.main-txt {
			padding-top: 20px;
		}

		@media (max-width: $screen-sm-min) {

			.main-logo img {
				height: auto;
				width: 30vw;
			}
		}

		@media (min-width: $screen-sm) {
			height: 100vh;
		}
	}

	.apps-sites	{

		.webapps, .websites {
			padding-bottom: 50px;
		}

		@media (max-width: $screen-sm-min) {
			margin-top: 50px;
		}

		@media (min-width: $screen-sm) {
			margin-top: -89px;
		}

		.hex-icon a {
			display: block;

			img	{
				display: block;
				text-align: center;
				margin: 0 auto;
			}
		}

		.title {
			font-family: Oswald;
			padding-top: 30px;
			padding-bottom: 30px;
			text-transform: uppercase;
			font-weight: bold;

			@media (max-width: $screen-xs-min) {
				font-size: 4vw;
			}

			@media (min-width: $screen-xs) and (max-width: $screen-sm-min) {
				font-size: 3vw;
			}

			@media (min-width: $screen-sm) and (max-width: $screen-md-min) {
				font-size: 2.2vw;
			}

			@media (min-width: $screen-md) {
				font-size: 1.8vw;
			}
		}

	}

	.project-showcases {
		padding-top: 50px;
		padding-bottom: 50px;

		.project {
			padding: 0;

			img {
				width: 100%;
				height: auto;
			}

		}
	}

}