.home {

    .main-content {
        background: url('../img/front/background.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        @media (min-width: $screen-sm) {
            height: 100vh;
            min-height: 600px;
        }
    }

    .apps-sites {

        .webapps, .websites {
            padding-bottom: 50px;
        }

        @media (max-width: $screen-sm-min) {
            margin-top: 50px;
        }

        @media (min-width: $screen-sm) {
            margin-top: -89px;
        }

        .hex-icon a {
            display: block;

            img {
                display: block;
                text-align: center;
                margin: 0 auto;
            }
        }
    }

    .project-showcases {
        padding-top: 50px;
        padding-bottom: 50px;

        &:hover .img-background, &:hover .img-logo {
            opacity: 0.5;
            -webkit-filter: hue-rotate(180deg);
        }

        .project {
            padding: 0;

            a {
                position: relative;
                text-align: center;
                display: block;
                background: $black;

                &:hover .img-background, &:hover .img-logo {
                    opacity: 1;
                    -webkit-filter: hue-rotate(0deg);
                }

                .img-background {
                    width: 100%;
                    height: auto;
                }

                .img-logo {
                    @extend %full-fill;
                    max-width: 50%;
                    max-height: 50%;
                    height: auto;
                    width: auto;
                    margin: auto;
                }
            }
        }
    }
}

