footer {
	color: $white;
	background-color: $grey;
	margin-top: 50px;

	a, a:hover, a:active {
		color: $white;
		text-decoration: none;
	}

	.desktop-footer {
		height: 100px;
		line-height: 100px;
		font-size: 1.4rem;

		img {
			height: 100px;
			width: auto;
		}
	}

	.mobile-footer {
		padding-bottom: 30px;
	}
}
